html {
  font-size: var(--html-fs);
}
body {
  font-size: 16px;
  --font-family: var(--ff);
}
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}
.d-flex {
  display: flex;
}
.btns {
  display: block;
  font-family: var(--ff);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  border-radius: 4px;
  padding: 4px 12px;
  max-width: 80px;
}
.btn-green {
  color: #008767;
  border: 1px solid #00b087;
  background-color: rgba(22, 192, 152, 0.38);
}
.btn-red {
  color: #df0404;
  border: 1px solid #df0404;
  background-color: #ffc5c5;
}
